<div class="menu-tickets bg-white px-4">
  <div class="text-lg py-3.5 px-4">Tickets</div>
  <div class="py-8 border-t border-gray-300">
    <ul class="flex flex-col gap-4">
      <li class="selected-item py-2 px-4 text-sm text-black font-medium rounded-sm">Todos os Tickets</li>
      <li class="item-menu-ticket py-2 px-4 text-sm text-black font-medium">Todos os Tickets Pendentes</li>
      <li class="item-menu-ticket py-2 px-4 text-sm text-black font-medium">Todos os Tickets Concluídos</li>
      <li class="item-menu-ticket py-2 px-4 text-sm text-black font-medium">Todos os Tickets Paralisados</li>
      <li class="item-menu-ticket py-2 px-4 text-sm text-black font-medium">Todos os Tickets Não Resolvidos</li>
      <li class="item-menu-ticket py-2 px-4 text-sm text-black font-medium">Meus Tickets Pendentes</li>
      <li class="item-menu-ticket py-2 px-4 text-sm text-black font-medium">Meus Tickets Concluídos</li>
      <li class="item-menu-ticket py-2 px-4 text-sm text-black font-medium">Meus Tickets Paralisados</li>
      <li class="item-menu-ticket py-2 px-4 text-sm text-black font-medium">Meus Tickets Não Resolvidos</li>
    </ul>
  </div>
  <div class="pt-8 border-t border-gray-300">
    <ul class="flex flex-col gap-2">
      <a href="#" class="flex justify-between items-center text-sm">
        <span class="flex items-center">
          <img class="icon mr-2" src="..\..\assets\icons\email.svg" />
          Ticket em Andamento
        </span>
        <span class="count-items text-xs">89</span>
      </a>
      <a href="#" class="flex justify-between items-center text-sm">
        <span class="flex items-center">
          <img class="icon mr-2" src="..\..\assets\icons\block.svg" />
          Tickets Spam
        </span>
        <span class="count-items text-xs">24</span>
      </a>
      <a href="#" class="flex justify-between items-center text-sm">
        <span class="flex items-center">
          <img class="icon mr-2" src="..\..\assets\icons\trash.svg" />
          Tickets Excluídos
        </span>
        <span class="count-items text-xs">33</span>
      </a>
    </ul>
  </div>
</div>