.menu-tickets {
  width: 100%;
  min-width: 280px;
  height: 100vh;
}

.selected-item {
  background-color: #E4FBFC;
  color: #01A8B5;
  cursor: pointer;
}

.item-menu-ticket:hover {
  background-color: #E4FBFC;
  color: #01A8B5;
  cursor: pointer;
}

.icon {
  width: 15px;
  height: 15px;
  display: flex;
  vertical-align: middle;
  line-height: 36px;
}

.count-items {
  border: 1px solid #646464;
  padding: 3px 12px;
  border-radius: 15px;
}